<h3>Find By ID</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="lastname">ID</label>
      <input type="text" class="form-control" id="id" required [(ngModel)]="id" name="id">
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<ul>
 <!-- <li *ngFor="let customer of customers">-->

    <h4 *ngIf="user!=null">Customer Details :ID {{user.userId}} -Name: {{user.fullName}} Email:{{user.userEmail}}</h4>
<h4>{{mesg}}</h4>

<!--  </li>-->
</ul>
