<div style="padding: 20px;">
  <h1 style="color: blue">{{title}}</h1>
  <h3>{{description}}</h3>
  <!--
  <nav>
   <button> <a routerLink="user" class="btn btn-primary active" role="button" routerLinkActive="active">Customers list</a></button>
   <button> <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add Customer</a></button>
   <button> <a routerLink="findbyid" class="btn btn-primary active" role="button" routerLinkActive="active">Search Customer</a></button>
   <button> <a routerLink="productList" class="btn btn-primary active" role="button" routerLinkActive="active">Product List</a></button>

  </nav>
  -->
  <router-outlet></router-outlet>
</div>